<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="backgroundr.view.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <backgroundr.view.Properties.Settings>
            <setting name="FlickrApiToken" serializeAs="String">
                <value>64fc22ca922476741530a4125b4009d6</value>
            </setting>
            <setting name="FlickrApiSecret" serializeAs="String">
                <value>d1f99d9aa745c85e</value>
            </setting>
        </backgroundr.view.Properties.Settings>
    </applicationSettings>
</configuration>